{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>New post</title>
    <link href='{% static "css/post.css" %}' rel="stylesheet" type="text/css">
</head>
<body>
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        console.log(csrftoken);
        const userLogged = "{{request.user.pk}}";
        console.log(userLogged);
    </script>

    <header id="main-header">
        <a id="logo-header" href="{% url 'home' %}">
            
            <svg viewBox="0 0 960 300">
                <symbol id="s-text">
                    <text text-anchor="middle" x="50%" y="80%">Pangolin</text>
                </symbol>
            
                <g class = "g-ants">
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                    <use xlink:href="#s-text" class="text-copy"></use>
                </g>
            </svg>
            
        </a>

        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a id="usernameLogged" href="{% url 'profile' the_user=request.user.username %}">{{request.user.username}}</a></li>
                <li><a href="{% url 'add_friends' %}">Add Friends</a></li>
                <li><a href="{% url 'add_post' %}">Add post</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>

    </header>

        <h1 class="titlePost">Add a new post!</h1>
        <div class="postDiv" > 
            <form name="postAdd" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                <p>Title: </p>
                <input id="postTitle" type="text" value=""/>
                <p>Description: </p>
                <input id="postDescription" type="text" value=""/>
                <p>Image </p>
                <input name="postImage" type="file" value=""/>
                <input class="postButton" type="submit" value="Post"/>
            </form>
        </div>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src='{% static "js/add_post.js" %}'></script>
</body>
</html>